@model IEnumerable<HRM.Web.ViewModels.CompanyViewModel>

@{
    ViewData["Title"] = "Companies";
}

<h1>Companies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CompanyId">Edit</a>
                    @* TODO: Add Delete link *@
                </td>
            </tr>
        }
    </tbody>
</table>
