@model HRM.Web.ViewModels.CompanyViewModel

@{
    var isEditMode = Model.CompanyId != Guid.Empty;
    ViewData["Title"] = isEditMode ? "Edit Company" : "Create Company";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@(isEditMode ? "Edit" : "Create")" asp-route-id="@Model.CompanyId">
            <input type="hidden" asp-for="CompanyId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label">Parent Company</label>
                <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId">
                    <option value="">-- None --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="@(isEditMode ? "Save" : "Create")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
